<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:util="http://www.springframework.org/schema/util"
	xsi:schemaLocation="
   http://www.springframework.org/schema/beans     
   http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
   http://www.springframework.org/schema/context 
   http://www.springframework.org/schema/context/spring-context-3.0.xsd
   http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd">

	<context:component-scan base-package="com.kafka.service" />
	<context:component-scan base-package="com.kafka.producer" />

	<import resource="sparkJobConfig.xml" />

	<bean id="restConsumerConfig" class="kafka.consumer.ConsumerConfig">
		<constructor-arg>
			<bean class="org.springframework.beans.factory.config.PropertiesFactoryBean">
				<!-- Properties for defining consumer configurations -->
				<property name="properties">
					<props>
						<prop key="zookeeper.connect">localhost:2181</prop>
						<prop key="group.id">spring_rest_consumer</prop>
						<prop key="auto.commit.enable">false</prop>
					</props>
				</property>
			</bean>
		</constructor-arg>
	</bean>
	
	<bean id="restSubmitter" class="com.spark.submitter.rest.SparkRestJobSubmmiter">
		<property name="createSubmissionRequest" ref="job1"></property>
		<property name="outputTopic" value="rest-topic-output"></property>
	</bean>
	
	<bean id="restConsumer" class="com.kafka.consumer.KafkaConsumerImpl">
		<property name="topic" value="rest-topic-input"></property>
		<property name="consumerConfig" ref="restConsumerConfig"></property>
		<property name="sparkJobSubmitter" ref="restSubmitter"></property>
	</bean>
	
	<!--  JAVA consumer -->
	<bean id="javaSubmitter" class="com.spark.submitter.java.SparkJavaJobSubmitter">
		<property name="jobConfig" ref="javaJob1"></property>
	</bean>
	
	<bean id="javaConsumerConfig" class="kafka.consumer.ConsumerConfig">
		<constructor-arg>
			<bean class="org.springframework.beans.factory.config.PropertiesFactoryBean">
 				<!--Properties for defining consumer configurations -->
				<property name="properties">
					<props>
						<prop key="zookeeper.connect">localhost:2181</prop>
						<prop key="group.id">spring_java_consumer</prop>
						<prop key="auto.commit.enable">false</prop>
					</props>
				</property>
			</bean>
		</constructor-arg>
	</bean>
	
	<bean id="javaConsumer" class="com.kafka.consumer.KafkaConsumerImpl">
		<property name="topic" value="java-topic-input"></property>
		<property name="consumerConfig" ref="javaConsumerConfig"></property>
		<property name="sparkJobSubmitter" ref="javaSubmitter"></property>
	</bean>
</beans>