<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:util="http://www.springframework.org/schema/util"
	xsi:schemaLocation="
   http://www.springframework.org/schema/beans     
   http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
   http://www.springframework.org/schema/context 
   http://www.springframework.org/schema/context/spring-context-3.0.xsd
   http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd">

	<context:component-scan base-package="com.kafka.service" />

	<bean id="consumerConfig" class="kafka.consumer.ConsumerConfig">
		<constructor-arg>
			<bean class="org.springframework.beans.factory.config.PropertiesFactoryBean">
				<!-- Properties for defining consumer configurations -->
				<property name="properties">
					<props>
						<prop key="zookeeper.connect">localhost:2181</prop>
						<prop key="group.id">spring_consumer</prop>
						<prop key="auto.commit.enable">false</prop>
					</props>
				</property>
			</bean>
		</constructor-arg>
	</bean>
	
	<!-- <bean id="javaSubmitter" class="com.spark.submitter.SparkJavaJobSubmitter">
		<property name="appResource" value="D:\\source\\spark-playroom\\target\\spark-playroom-1.0-jar-with-dependencies.jar"></property>
		<property name="deployMode" value="cluster"></property>
		<property name="sparkMaster" value="spark://170.118.146.163:7077"></property>
		<property name="mainClass" value="gr.patouchas.spark.SimpleExample2"></property>
		<property name="sparkHome" value="D:\\spark-1.5.1"></property>
	</bean> -->
	
	<bean id="restSubmitter" class="com.spark.submitter.SparkRestJobSubmmiter">
		<property name="createSubmissionRequest" ref="job1"></property>
	</bean>
	
	<bean id="messageConsumer" class="com.kafka.consumer.KafkaConsumerImpl">
		<property name="topic" value="partitioned-topic"></property>
		<property name="consumerConfig" ref="consumerConfig"></property>
		<property name="sparkJobSubmitter" ref="restSubmitter"></property>
	</bean>
	
	<bean id="job1" class="com.spark.submitter.rest.CreateSubmissionRequest">
		<property name="action" value="CreateSubmissionRequest"></property>
		<property name="appResource" value="file:/spark-1.5.1/bin/myJars/spark-playroom-1.0-jar-with-dependencies.jar"></property>
		<property name="clientSparkVersion" value="1.5.1"></property>
		<property name="mainClass" value="gr.patouchas.spark.SimpleExample2"></property>
		<property name="environmentVariables" ref="job1EnvVars"></property>
		<property name="sparkProperties" ref="job1SparkProps"></property>
	</bean>
	
	<bean id="job1EnvVars" class="com.spark.submitter.rest.SparkEvniromentalVariables">
		<property name="sparkHome" value="D:\\\\spark-1.5.1\\"></property>
	</bean>
	
	<bean id="job1SparkProps" class="com.spark.submitter.rest.SparkProperties">
		<property name="appName" value="Play Room"></property>
		<property name="deployMode" value="cluster"></property>
		<property name="driverSupervise" value="true"></property>
		<property name="eventLogEnabled" value="true"></property>
		<property name="jars" value="file:/spark-1.5.1/bin/myJars/spark-playroom-1.0-jar-with-dependencies.jar"></property>
		<property name="master" value="spark://170.118.146.163:7077"></property>
	</bean>
	
	<!-- <bean id="consumerConfig2" class="kafka.consumer.ConsumerConfig">
		<constructor-arg>
			<bean class="org.springframework.beans.factory.config.PropertiesFactoryBean">
				Properties for defining consumer configurations
				<property name="properties">
					<props>
						<prop key="zookeeper.connect">localhost:2181</prop>
						<prop key="group.id">spring_consumer2</prop>
						<prop key="auto.commit.enable">false</prop>
					</props>
				</property>
			</bean>
		</constructor-arg>
	</bean>
	
	<bean id="messageConsumer2" class="com.kafka.consumer.KafkaConsumerImpl">
		<property name="topic" value="cross-machine-topic"></property>
		<property name="consumerConfig" ref="consumerConfig2"></property>
	</bean> -->
</beans>